/* Variables */
@import "../../../variables.scss";

mat-toolbar {
    padding: 0;
    height: $header_height !important;
    background-color: $primary !important;
}

.logout-button {
    cursor: pointer;
    margin-left: 7px;
    text-decoration: underline;
}

.mat-dialog {
    position: absolute;
    top: 100px;
}

.header-button {
    margin: 15px;
    height: 50px;
}

.logo {
    margin: 15px;
    width: 50px;
}

.header-title {
    margin-right: 6px !important;
}

@media screen and (max-width: 400px) {
    .hide-on-mobile-2 {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .hide-on-mobile-1 {
        display: none !important;
    }
}

.first-text {
    margin-top: 7px;
}

.information-text {
    font-size: 11px;
    height: 25px;
    line-height: 25px;
}
